/* Styles for the entire body */
body {
    min-height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex; /* Enables flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Aligns children vertically */
    background-color: #202020;
}

/* Styles for all iframes */
iframe {
    width: 100%;
    height: auto;
    max-width: 512px;
}

/* Styles for the header */
header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

/* Styles for the centered content */
.centered-content {
    text-align: center; /* Center text elements */
    color: #FFFFFF; /* Text color */
    font-family: 'Ubuntu Mono', monospace; /* Font family */
    max-width: 512px; /* Maximum width of the content */
    margin: 0 auto; /* Center horizontally */
}

/* Styles for the socials bar */
.socials {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 16px;
}
.socials .icon {
    display: block;
    max-width: 32px;
    max-height: 32px;
}
.socials .icon img {
    width: auto;
    height: 100%;
}

/* Styles for About section */
.about {
    margin-top: 32px;
    margin-bottom: 32px;
}
.about blockquote {
    border-left: 3px solid #ccc; /* The vertical line characteristic of markdown quotes */
    margin: 1em 10px; /* Spacing around the quote */
    padding-left: 10px; /* Space between the line and the text */
    color: #ccc;
    font-style: italic;
}

/* Styles for Projects section */
.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between projects */
}

@media (max-width: 512px) {
    .centered-content {
        max-width: 90%;
        padding: 10px;
    }
}