/* Styles for the nav bar */
nav {
    font-family: 'Ubuntu Mono', monospace;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #3B3B3B;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav a:hover {
    color: #202020;
    background-color: white;
}

/* Styles for the entire body */
body {
    min-height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex; /* Enables flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Aligns children vertically */
    background-color: #202020;
}

/* Styles for all iframes */
iframe {
    width: 100%;
    height: auto;
    max-width: 512px;
}

/* Style for all links */
a {
    color: #AE99F5; /* Bright ube */
}

/* Styles for the header */
header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

/* Styles for all paragraphs */
p {
    line-height: 1.5;
}

/* Styles for all list items */
li {
    line-height: 1.5;
}

/* Style for interactable headers */
.interactable-header { /* For adding interactable header elements without visible formatting */
    color: inherit; /* Inherit color from regular header */
    text-decoration: none; /* no underlines */
}

/* Styles for the centered content */
.centered-content {
    text-align: center; /* Center text elements */
    color: #FFFFFF; /* Text color */
    font-family: 'Ubuntu Mono', monospace; /* Font family */
    max-width: 75%; /* Maximum width of the content */
    margin: 0 auto; /* Center horizontally */
}

/* Styles for the socials bar */
.socials {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 16px;
}
.socials .icon {
    display: block;
    max-width: 100%;
    max-height: 32px;
}
.socials .icon img {
    width: auto;
    height: 100%;
}

/* Styles for About section */
.about {
    margin-top: 32px;
    margin-bottom: 32px;
}
.about blockquote {
    border-left: 3px solid #ccc; /* The vertical line characteristic of markdown quotes */
    margin: 1em 10px; /* Spacing around the quote */
    padding-left: 10px; /* Space between the line and the text */
    color: #ccc;
    font-style: italic;
}

/* Styles for Projects section */
.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Space between projects */
}

.project-gallery img {
    max-width: 128px;
    height: auto;
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
    box-shadow: 0 0 0 0 white;
}

/* Styles for figures on experience page */
.experience {
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience img {
    max-width: 128px;
    max-height: 128px;
    float: left;
    padding: 32px;
}

.experience figcaption {
    text-align: left;
}

.skills {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills p {
    flex: 1;
    margin: 4px;
    padding: 4px;
    flex-basis: 20%;
}